@page
@model BookOfRecipes.Pages.Details.RecipeDetailsModel

@{
    ViewData["Title"] = "RecipeDetails";
}



<div class="container bgPetroleum">
    <h1 class="text-white text-center">@Model.Recipe.NameOfRecipe</h1>
    <div class="row align-content-center">
        <div class="col text-center">
            <img class="shadow-4-strong rounded" src="https://ichkocheheute.de/wp-content/uploads/2019/06/kleiner-P1400309.jpg" />
        </div>
    </div>
    <div class="row">
        <h1 class="text-center text-white">Postup</h1>
    </div>
    <div class="row">
        <div class="col-3 bg-light bg-opacity-50 rounded align-self-start ">
            <ul class="m-0">
                @foreach(var ingredient in Model.Recipe.RecipeIngredients)
                {
                    <li class="text-start text-black fw-bold p-1">@ingredient.Quantity 
                        @ingredient.Units.unit
                        @ingredient.Ingredient.NameOfIngredient</li>
                }
            </ul>
        </div>
        <div class="col-9">
            @Html.Raw(Model.Recipe.Directions)
        </div>
    </div>   
</div>
